@page
@model BooksWebSite.Pages.Admin.Books.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.cover)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.cover)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Book.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
